*{
    box-sizing:border-box;
}
body{
    background-color: slategray;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;

}
.title{
    font-size:4rem;
    color:white;
}


.board{
    display: grid;
    width: 500px;
    height: 500px;
    /* box-shadow: 4px 1px gray; */
}

.button-container{
    display:flex;
}